// Compass

@import 'compass/css3';

// Font Families

$serif: Adelle, Georgia, Times, Times New Roman, serif;
$sans: JAF-FacitWeb, Helvetica Neue, Helvetica, Arial, sans-serif;

// Course Icons

$yellow: #F0DB4D;
$blue: #2C69AB;
$green: #1D8A3C;
$red: #AB2C2C;

// Greys

$light-grey: #ddd;
$grey: #bbb;
$dark-grey: #333;

// Links

$link-blue: #1168C6;