.l-constrained {
  width: 960px;
  margin: 0 auto;
  padding: 0 24px;
}

.l-row {
  margin-left: -48px;
}

.l-single {
  float: left;
  margin-left: 48px;
  width: 288px;
}

.l-double {
  float: left;
  margin-left: 48px;
  width: 624px;
}