.logo {
  margin: 1em 0 2em;

  text-align: center;

  b {
    position: relative;
    bottom: 2px;

    font-size: 80px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 1;
    vertical-align: bottom;
  }

  img {
    width: 170px
  }

  a {
    color: $dark-grey;

    &:hover {
      text-decoration: none;
    }
  }
}

.logo-nav {
  margin-bottom: 0;
  padding-bottom: 1em;

  border-bottom: 1px solid $grey;
}

.details {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.tagline {
  padding-bottom: 10px;
  margin: 40px 0 40px;

  border-bottom: 1px solid $light-grey;

  font-family: $serif;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
}

.section {
  margin-bottom: 3em;
}

.subhead {
  display: block;
  margin: 0;

  font-family: $sans;
  font-size: 0.875em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course {
  margin-bottom: 1.5em;

  text-align: center;
}

.course-icon {
  display: block;
  height: 256px;
  padding: 1em;

  color: #fff;
  font-family: $sans;
  text-align: center;

  h2 {
    font-size: 1.3em;
  }

  b {
    display: block;
    margin-top: 20px;

    font-size: 9em;
    line-height: 1;
  }

  &:hover {
    text-decoration: none;
  }
}

.course-icon-a {
  background-color: $red;
}

a.course-icon-a:hover {
  background-color: lighten($red, 10%);
}

.course-icon-b {
  background-color: $blue;
}

a.course-icon-b:hover {
  background-color: lighten($blue, 10%);
}

.course-icon-n {
  background-color: $green;
}

a.course-icon-n:hover {
  background-color: lighten($green, 10%);
}

.course-summary {
  height: 85px;

  font-size: 0.875em;
  text-align: left;
}

.btn {
  padding: 0.375em 1em;

  border: 0.125em solid $dark-grey;
  border-radius: 6px;

  background: $dark-grey;

  color: #fff;
  font-family: $sans;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;

  &:hover {
    background: #fff;

    color: $dark-grey;
    text-decoration: none;
  }
}

.btn-large-container {
  margin: 2em 0;
  font-size: 24px;
  text-align: center;
}

.small-link {
  font-family: $sans;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.location-img {
  height: 288px;
  width: 65%;
  float: left;

  border-radius: 8px;
}

.location {
  width: 30%;
  float: left;
  margin-left: 5%;
}

.instructors {
  padding: 0;
  margin: 0 0 0 0;

  list-style: none;
}

.instructor {
  display: inline-block;
  margin:  0.5em 44px 0.5em 44px;
  width: 388px;

  text-align: center;
  vertical-align: top;
}


.instructor-name {
  margin-bottom: 0.5em
}

.instructor-bio {
  margin-top: 0;

  font-size: 18px;
  text-align: left;
}

.instructor-img {
  width: 200px;

  border-radius: 30%;
}

.instructors-small-header {
  margin-top: -1em;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
  border-bottom: 1px solid $light-grey;
}

.instructors-small {


  .instructor-img {

    width:125px;
  }

  .instructor  {
    margin-left:24px;
    margin-right:24px;
    width: 268px;
  }

  h3 {
  }

  .instructor-bio {
    font-size: 16px;
  }
}

.subscribe {
  margin: 3em 0 5em;

  text-align: center;

  p {
    border-bottom: 1px solid $light-grey;

    font-size: 1.5em;
  }

  label {
    margin-right: 0.5em;

    font-family: $sans;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.subscribe-field {
  height: 40px;
  font-size:18px;
  padding: 0 6px;
  width: 225px;

  border: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  height: 42px;
  padding: 0 6px;
  margin-left: -5px;
  font-size:18px;
  border: 1px solid #aaa;
  border-radius: 0 4px 4px 0;

  background-color: $light-grey;
  @include background-image(linear-gradient(top, rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0)));

  @include box-shadow(inset 0 1px 0 #fff);
  text-shadow: 0 1px 0 #fff;
}

.copyright {
  font-family: $sans;
  font-size: 12px;
  text-align: center;
}

.sidebar {
  margin-top: -1px;
  padding: 1em;

  background: $dark-grey;

  color: #fff;
  -webkit-font-smoothing: antialiased;

  h3 {
    border-bottom: 1px solid #555;
  }

  a {
    color: lighten($link-blue, 30%);
  }
}

.sidebar-container {
  margin-top: -1px;
}

.content {
  h2 {
    border-bottom: 1px solid $light-grey;
  }

  p, li {
    font-size: 18px;
  }
}
