.logo {
  margin: 1em 0 2em;

  text-align: center;

  b {
    position: relative;
    bottom: 2px;

    font-size: 70px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 1;
    vertical-align: bottom;
  }

  img {
    width: 120px
  }
}

.details {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.tagline {
  margin: 60px 0 36px;

  border-bottom: 1px solid #eee;

  font-family: $serif;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section {
  margin-bottom: 3em;
}

.subhead {
  display: block;
  margin: 0;

  font-family: $sans;
  font-size: 0.875em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course {
  margin-bottom: 1.5em;

  text-align: center;
}

.course-icon {
  height: 256px;
  padding: 1em;

  color: #fff;
  font-family: $sans;

  b {
    display: block;
    margin-top: 20px;

    font-size: 9em;
    line-height: 1;
  }
}

.course-icon-js {
  background-color: $yellow;

  color: #333;
}

.course-icon-b {
  background-color: desaturate(darken($blue, 20%), 25%);
}

.course-icon-n {
  background-color: desaturate(darken($green, 20%), 25%);
}

.course-summary {
  height: 85px;

  font-size: 0.875em;
  text-align: left;
}

.btn {
  padding: 6px 8px;

  border: 2px solid #333;
  border-radius: 4px;

  background: #333;

  color: #fff;
  font-family: $sans;
  font-weight: 600;

  &:hover {
    border-color: #333;

    background: #fff;

    color: #333;
  }
}

.small-link {
  color: darken($blue, 20%);
  font-family: $sans;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.location-img {
  height: 288px;
  width: 65%;
  float: left;

  border-radius: 8px;
}

.location {
  width: 30%;
  float: left;
  margin-left: 5%;
}

.instructors {
  padding: 0;
  margin: 0 0 0 -44px;

  list-style: none;
}

.instructor {
  display: inline-block;
  margin: 0.5em 0 0.5em 44px;
  width: 288px;

  text-align: center;
  vertical-align: top;
}


.instructor-name {
  margin-bottom: 0.5em
}

.instructor-bio {
  margin-top: 0;

  font-size: 14px;
  text-align: left;
}

.instructor-img {
  width: 150px;

  border-radius: 50%;
}

.subscribe {
  margin: 3em 0 5em;

  text-align: center;

  p {
    border-bottom: 1px solid #eee;

    font-size: 1.5em;
  }
}

.subscribe-field {
  padding: 2px 5px 3px;
  width: 225px;

  border: 1px solid #AAA;
  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  margin-left: -5px;

  border: 1px solid #aaa;
  border-radius: 0 4px 4px 0;

  background-color: #eee;
  @include background-image(linear-gradient(top, rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0)));

  @include box-shadow(inset 0 1px 0 #fff);
  text-shadow: 0 1px 0 #fff;
}

.copyright {
  font-family: $sans;
  font-size: 12px;
  text-align: center;
}